<mat-card class="card">
  <mat-card-header>
    <div mat-card-avatar class="header-image"></div>
    <mat-card-title>{{this.vehicle.year + ' - ' + this.vehicle.make + ' ' + this.vehicle.model}}</mat-card-title>
    <mat-card-subtitle>{{this.formatMSRP(this.vehicle.MSRP)}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="{{'https://cdn.imagin.studio/getImage?customer=uscarsonmillercompany&make=' + this.vehicle.make + '&modelFamily=' + this.vehicle.model}}" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
      ut labore et dolore magna aliqua. Egestas sed tempus urna et.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>BUY NOW</button>
  </mat-card-actions>
</mat-card>
