<div class="ctrl-panel">
  <mat-toolbar color="primary">
    <mat-icon class="main-icon">directions_car</mat-icon>
    <span>Auto Sales</span>

    <div class="central-ctrl">
      <button *ngIf="!admin" class="central-ctrl-btn" (click)="this.router.navigateByUrl('/')" mat-button>
        Inventory
      </button>
      <button *ngIf="admin" class="central-ctrl-btn" (click)="this.router.navigateByUrl('/?admin=true')" mat-button>
        Inventory
      </button>
      <button *ngIf="admin" class="central-ctrl-btn" (click)="this.router.navigateByUrl('/sales?admin=true')" mat-button>
        Sales
      </button>
    </div>

    <span class="spacer"></span>
    <a class="btn-link" href="https://github.com/DG47/DBMS-Project" target="_blank">
      <button mat-icon-button class="icon">
        <mat-icon svgIcon="github-circle"></mat-icon>
      </button>
    </a>
  </mat-toolbar>
</div>
