.spacer {
  flex: 1 1 auto;
}

.icon {
  background: none;
}

.central-ctrl {
  float: left;
  margin-left: 20px;
}

.central-ctrl-btn {
  color: white !important;
}

.btn-link {
  color: white !important;
}

