<div class="ctrl-panel">
  <mat-toolbar color="primary">
    <mat-icon class="main-icon" >directions_car</mat-icon>
    <span>Auto Sales</span>

    <div class="central-ctrl">
      <button class="central-ctrl-btn" (click)="this.router.navigateByUrl('/shop')" mat-button>
        Shop
      </button>
      <button class="central-ctrl-btn" (click)="this.router.navigateByUrl('/finance')" mat-button>
        Finance
      </button>
      <button class="central-ctrl-btn" (click)="this.router.navigateByUrl('/locations')" mat-button>
        Locations
      </button>
    </div>

    <span class="example-spacer"></span>
    <a class="btn-link" href="https://github.com/DG47/DBMS-Project" target="_blank">
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon svgIcon="github-circle"></mat-icon>
    </button>
    </a>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>


</div>
