<div class="ctrl-panel">
  <mat-toolbar color="primary">
    <button mat-icon-button class="main-icon" (click)="this.router.navigateByUrl('/')">
      <mat-icon>directions_car</mat-icon>
    </button>
    <span>Auto Sales</span>

    <div class="central-ctrl">
      <button class="central-ctrl-btn" (click)="this.router.navigateByUrl('/shop')" mat-button>
        Shop
      </button>
      <button class="central-ctrl-btn" (click)="this.router.navigateByUrl('/finance')" mat-button>
        Finance
      </button>
      <button class="central-ctrl-btn" (click)="this.router.navigateByUrl('/locations')" mat-button>
        Locations
      </button>
    </div>

    <span class="spacer"></span>
    <a class="btn-link" href="https://github.com/DG47/DBMS-Project" target="_blank">
      <button mat-icon-button class="icon">
        <mat-icon svgIcon="github-circle"></mat-icon>
      </button>
    </a>
    <button mat-icon-button class="icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>


</div>
