<div class="shop-wrapper">
  <div class="search-wrapper">
    <mat-card class="mat-card-ctrl">
      <mat-card-content>
        <div>
          <h4>Sort by</h4>
          <mat-form-field>
            <mat-select (selectionChange)="handleFilterChange()" [(value)]="sortBySelected">
              <mat-option *ngFor="let option of sortOptions" [value]="option['value']">
                {{option['text']}}
              </mat-option>
            </mat-select>
          </mat-form-field>
      </div>
      </mat-card-content>
      <mat-card-content>
        <div>
          <h4>Make</h4>
          <mat-form-field>
            <mat-select (selectionChange)="handleFilterChange()" [(value)]="makeSelected">
              <mat-option *ngFor="let option of makeOptions" [value]="option">
                {{option}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </mat-card-content>
      <mat-card-content>
        <div>
          <h4>Price</h4>
          <mat-slider min="1000" max="150000" step="1000" discrete [displayWith]="formatLabel" (change)="handleFilterChange()">
            <input matSliderStartThumb [(ngModel)]="minPrice">
            <input  matSliderEndThumb [(ngModel)]="maxPrice">
          </mat-slider>
        </div>
      </mat-card-content>
      <mat-card-content>
        <div>
          <h4>Mileage</h4>
          <mat-slider min="0" max="200000" step="1000" discrete [displayWith]="formatLabel" (change)="handleFilterChange()">
            <input matSliderStartThumb [(ngModel)]="minMileage">
            <input matSliderEndThumb [(ngModel)]="maxMileage">
          </mat-slider>
        </div>
      </mat-card-content>
      <mat-card-content>
        <div>
          <h4>Transmission</h4>
          <mat-button-toggle-group name="transmission" aria-label="transmission" multiple [(ngModel)]="transmissionToggle" (change)="handleFilterChange()">
            <mat-button-toggle *ngFor="let option of transmissionToggleOptions" value="{{option}}">{{option}}</mat-button-toggle>
          </mat-button-toggle-group>
        </div>
      </mat-card-content>
      <mat-card-content>
        <div>
          <h4>Drive</h4>
          <mat-button-toggle-group name="drive" aria-label="drive" multiple [(ngModel)]="driveToggle" (change)="handleFilterChange()">
            <mat-button-toggle *ngFor="let option of driveToggleOptions" value="{{option}}">{{option}}</mat-button-toggle>
          </mat-button-toggle-group>
        </div>
      </mat-card-content>
      <mat-card-content>
        <div>
          <h4>Fuel</h4>
          <mat-button-toggle-group name="fuel" aria-label="fuel" multiple [(ngModel)]="fuelToggle" (change)="handleFilterChange()">
            <mat-button-toggle *ngFor="let option of fuelToggleOptions" value="{{option}}">{{option}}</mat-button-toggle>
          </mat-button-toggle-group>
        </div>
      </mat-card-content>
      <mat-card-content>
        <div>
          <h4>Dealership Location</h4>
          <mat-button-toggle-group name="fuel" aria-label="fuel" multiple [(ngModel)]="dealershipToggle" (change)="handleFilterChange()">
            <mat-button-toggle *ngFor="let option of dealershipToggleOptions" value="{{option.id}}">{{option.address_city}}</mat-button-toggle>
          </mat-button-toggle-group>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
    <div class="catalog-wrapper">
      <app-vehicle-card *ngFor="let vehicle of content;" [vehicle]="vehicle"></app-vehicle-card>
    </div>
  <div class="paginator-wrapper">
    <mat-paginator #paginator
                   (page)="handlePageEvent($event)"
                   [length]="length"
                   [pageSize]="pageSize"
                   [showFirstLastButtons]="true"
                   [pageSizeOptions]="pageSizeOptions"
                   [pageIndex]="pageIndex"
                   class="mat-paginator-shop">
    </mat-paginator>
  </div>
  <h2 *ngIf="content.length == 0" class="no-found-span">No vehicles available for given specifications...</h2>
</div>
