

.catalog-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.search-wrapper {
  display: flex;
  padding: 10px;
}
.paginator-wrapper {
  display: flex;
  padding: 10px;
  justify-content: center;
}

.mat-card-ctrl {
  margin: 0 auto;
  display: inline;
}


mat-card-content {
  display: inline-flex;
  margin: auto;
}

mat-slider {
  min-width: 8vw;
}

.no-found-span {
  margin: 0 auto;
  font-style: italic;
}
