<mat-card class="dialog-card">
<mat-stepper orientation="vertical" [linear]="false" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Fill out personal information</ng-template>
      <br><h3>Name and address</h3>
      <mat-form-field appearance="fill">
        <mat-label>First Name</mat-label>
        <input matInput type="text" formControlName="firstNameCtrl">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastNameCtrl" required>
      </mat-form-field><br>
      <mat-form-field appearance="fill" style="width: calc(100% - 10px)">
        <mat-label>Street Address</mat-label>
        <input matInput formControlName="streetCtrl" required>
      </mat-form-field><br>
      <mat-form-field appearance="fill">
        <mat-label>City</mat-label>
        <input matInput formControlName="cityCtrl" required>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>State</mat-label>
        <input matInput placeholder="Ex. PA"  formControlName="stateCtrl" required>
      </mat-form-field><br>
      <mat-form-field appearance="fill">
        <mat-label>Zip Code</mat-label>
        <input matInput formControlName="zipCtrl" required>
      </mat-form-field><br>
      <h3>Personal Information</h3>
      <mat-form-field appearance="fill">
        <mat-label>Age</mat-label>
        <input matInput type="number" formControlName="ageCtrl" required>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Income</mat-label>
        <input matInput type="number" formControlName="incomeCtrl" required>
      </mat-form-field><br>
      <mat-form-field>
        <mat-label>Gender</mat-label>
        <mat-select formControlName="genderCtrl">
          <mat-option *ngFor="let option of genderOptions" [value]="option">
            {{option}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Finance your {{this.vehicle.model_year + ' - ' + this.vehicle.make + ' ' + this.vehicle.model}}</ng-template>
      <h2>{{this.vehicle.model_year + ' - ' + this.vehicle.make + ' ' + this.vehicle.model}}</h2>
      <h3>{{this.formatMSRP(this.vehicle.price)}}</h3>
      <mat-form-field>
        <mat-label>Who helped you with your sales today?</mat-label>
        <mat-select formControlName="salesPersonCtrl">
          <mat-option *ngFor="let option of salesPerson" [value]="option['dealershipId']">
            {{option['name']}}
          </mat-option>
        </mat-select>
      </mat-form-field><br>
      <mat-form-field appearance="fill">
        <mat-label>Down Payment</mat-label>
        <input matInput type="number" formControlName="downPaymentCtrl" [(ngModel)]="downPayment" (keyup)="calcPayment()">
      </mat-form-field><br>
      <h3>Balance remaining {{this.formatRemaining(this.vehicle.price - this.downPayment)}}</h3>
      <mat-form-field>
        <mat-label>Preferred lender</mat-label>
        <mat-select formControlName="lenderCtrl">
          <mat-option *ngFor="let option of lenderOptions" [value]="option.id">
            {{option.lender_name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Term</mat-label>
        <mat-select formControlName="termCtrl" [(ngModel)]="termSelected" (selectionChange)="calcPayment()">
          <mat-option *ngFor="let option of termOptions" [value]="option">
            {{option}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <h3>Loan APY {{this.termRates[termSelected]}}%</h3>
      <h3>Estimated Monthly Payment: ${{this.estimatedPayment}}</h3>
    </form>
    <button mat-button matStepperPrevious>Back</button>
    <button mat-button (click)="submitSale()">Submit</button>
  </mat-step>
</mat-stepper>
</mat-card>
